name: Validate

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install biber
      run: sudo apt install biber
      
    - name: Validate bibliography
      run: biber --tool --validate-datamodel --dieondatamodel refs.bib
